body {
    background-color: #1D2731;
}

h1, h2, h3, h4, h5, h6 {
    color: #D9B310;
}

p, ul, ol {
    color: #D9B310;
}

a {
    color: #328CC1;
}

img {
    border-style: solid;
    border-color: #0B3C5D;
    border-radius: 10px;
    border-width: 3px;
    height: 300px;
    width: 450px;
}